html,
body {
    background-color: #3498db;
}

.navbar-custom {
    background-color: #ffffff;
    border-color: #3498db;
}

.navbar-custom .navbar-brand {
    color: #000000 !important;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #000000;
}

.landing-panel {
    background-color: #ffffff;
}

.btn-custom {
    background-color: #3498db;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #3498db;
    color: #000000;
}

.alert-color {
    color: #db3333;
}

div[class^='bubbleChart'], div[class*=' bubbleChart'] {
    background-color: #ffffff;
    padding: 5px;
}

.white-bg {
    background-color: #ffffff;
}